/*
    Author: Andre
    Styling for the spaceship website
*/

html, body{
    height: 100%;
    margin: 0;
    font-family: Arial;
    text-align: center;
    color: gray;
}

h1{
    font-size: 6em;
    margin: 0;
    padding: 0.25em;
    color: whitesmoke;
}

p{
    font-size: 1em; 
}

#bg{
    background-image: url(orbit.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
}

.panel{
    width: 75%;
    height: auto;
    margin: auto;
    font-size: 1.25em;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 2em;
    padding: 1em;
}

#ship-list{
    display:inline-block;
    width: 50%;
    padding: 0.25em;
}

#get-ship{
    display:inline-block;
    width: 25%;
    padding: 0.25em;
}

.data-container{
    /*display:none;*/
    flex-direction: column;
    width: 75%;
    height: auto;
    margin: auto;
    font-size: 1.25em;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 2em;
    padding: 1em;
    flex: 1;
}

.image{
    display:inline-block;
    width: 50%;
    height: 100%;
    /*margin: auto;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.data{
    display:inline-block;
    width: 50%;
    height: auto;
    /*margin: auto;*/
}